* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: #000000;
}

@media (min-width: 1200px) {
  .contenedormax {
    max-width: 1350px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px -20px 20px 20px black;
  }
}
.imgContenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.textoIn {
  background-color: rgba(0, 0, 0, 0.5960784314);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #202020;
  text-align: center;
  color: #e0e0df;
}
main h2 {
  padding-top: 1rem;
  color: #ffd132;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 0px -3px 5px black, 0px -1px 1px black;
}

header {
  background-color: #000000;
  padding: 1rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
header h1 {
  text-align: justify;
  font-size: 0.7rem;
  font-weight: 300;
  color: #a2a1a1;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  header h1 {
    padding-left: 7%;
  }
}
@media (min-width: 1200px) {
  header h1 {
    color: #000000;
  }
}
header video {
  width: 130vw;
  height: 26rem;
  position: absolute;
  bottom: -6rem;
}
@media (min-width: 1200px) {
  header video {
    position: static;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .header {
    max-height: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  position: relative;
  height: 12.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .header__logo {
    width: 35%;
    position: relative;
    bottom: 6rem;
    height: 20rem;
    overflow: hidden;
  }
}

.navbar {
  --bs-navbar-color: rgba(255, 209, 50);
  --bs-navbar-hover-color: #e0e0df;
  --bs-navbar-active-color: rgb(135, 135, 134);
}

.navbar-nav li {
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  .navbar-nav li {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  nav {
    width: 80%;
  }
}

.btn-outline-success {
  --bs-btn-color: rgba(255, 209, 0);
  --bs-btn-border-color: rgba(255, 209, 0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(255, 209, 0)4;
  --bs-btn-hover-border-color: rgba(255, 209, 0);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(255, 209, 0);
  --bs-btn-active-border-color: rgba(255, 209, 0);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgba(255, 209, 0);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgba(255, 209, 0);
  --bs-gradient: none;
}

.navbar-toggler {
  color: #ffd132;
  background-color: #e0e0df;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border: groove;
  border-color: #ffd100;
  background-color: #ffffff;
  padding: 0.2rem;
}
@media (min-width: 1200px) {
  .btn:hover {
    font-size: 1.2rem;
    background-color: #000000;
    color: #ffd132;
    border-color: #ffd100;
    transition: all 0.3s;
  }
}

.btn-prod {
  font-weight: 700;
  font-size: 1rem;
  color: black;
  border: groove;
  border-radius: 10px;
  border-color: #ffd100;
  background-color: #ffffff;
  padding: 0.2rem;
}
@media (min-width: 1200px) {
  .btn-prod:hover {
    box-shadow: 1px 1px 15px 1px #ffd100;
    font-size: 1.1rem;
    background-color: #000000;
    color: #ffd132;
    border-color: #ffd100;
    transition: all 0.3s;
  }
}

.tarjeta, .detail {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  background-color: #a2a1a1;
  border-style: inset;
  border-radius: 15px;
  border-color: #ffd100;
  border-width: 2px;
}
.tarjeta h3, .detail h3 {
  text-shadow: 1px 1px 1px black, 0px -1px 1px black, 0 -1px 3px #ffd100;
}
.tarjeta img, .detail img {
  width: 400px;
}

footer {
  background-color: #000000;
  padding: 1rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
footer form {
  gap: 0.2rem;
  padding: 1rem;
  margin-left: 1rem;
}
footer h6 {
  text-align: end;
  font-size: 0.4rem;
  padding: 0.5rem;
}

@media (min-width: 1200px) {
  .footer-compl {
    display: flex;
    border-top: double;
    padding-top: 0.5rem;
    border-bottom: double;
    padding-bottom: 0.5rem;
    border-color: #ffd100;
  }
}
@media (min-width: 768px) {
  .footer-compl__first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer-compl__first {
    width: 35%;
    flex-direction: column;
  }
}
.footer-compl__first__up {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer-compl__first__up {
    flex-direction: column;
  }
}
.footer-compl__first__up__logo {
  height: 90px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .footer-compl__first__up__logo {
    height: 150px;
    overflow: hidden;
  }
}
.footer-compl__first__up__logo img {
  min-width: 200px;
  height: 260px;
  position: relative;
  bottom: 5rem;
}
@media (min-width: 768px) {
  .footer-compl__first__up__logo img {
    min-width: auto;
    height: 300px;
    bottom: 5rem;
  }
}
.footer-compl__first__up__redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.3rem;
  margin-right: 1rem;
}
.footer-compl__first__up__redes img {
  width: 2rem;
}
.footer-compl__down {
  border-top: double;
  padding-top: 0.5rem;
  border-bottom: double;
  border-color: #ffd100;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 1200px) {
  .footer-compl__down {
    border-top: none;
    border-bottom: none;
    width: 70%;
    justify-content: space-between;
    padding-right: 5%;
  }
}
@media (min-width: 768px) {
  .footer-compl__down__quick {
    width: 50%;
    font-size: 1.5rem;
  }
}
.footer-compl__down__quick h4 {
  color: #ffd132;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .footer-compl__down__quick h4 {
    font-size: 1.2rem;
  }
}
.footer-compl__down__quick ul {
  color: #ffd132;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 1200px) {
  .footer-compl__down__quick ul :hover {
    color: #e0e0df;
  }
}
.footer-compl__down__contact h4 {
  text-align: end;
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  .footer-compl__down__contact h4 {
    text-align: center;
    font-size: 1rem;
  }
}
.footer-compl__down__contact__map {
  overflow: hidden;
  width: 50vw;
  max-width: 250px;
  height: 8rem;
}
@media (min-width: 768px) {
  .footer-compl__down__contact__map {
    max-width: 300px;
    height: 10rem;
  }
}

.carousel-item img {
  height: 20rem;
}
@media (min-width: 1200px) {
  .carousel-item img {
    height: 25rem;
  }
}

.art1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .art1 {
    flex-direction: row;
  }
}
.art1__imge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.1rem;
}
@media (min-width: 768px) {
  .art1__imge {
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    gap: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .art1__imge {
    flex-direction: row;
    gap: 1rem;
  }
}
.art1__imge img {
  overflow: hidden;
  max-height: 13rem;
  object-fit: cover;
}
@media (min-width: 768px) {
  .art1__imge img {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .art1__imge img {
    height: 400px;
    max-height: 400px;
  }
}
@media (min-width: 768px) {
  .art1__parr {
    width: 50%;
    font-size: large;
  }
}
.art1__parr a {
  margin-top: 0.7rem;
}

.art2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .art2 {
    flex-direction: row;
  }
}
.art2__imge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  gap: 0.1rem;
}
@media (min-width: 768px) {
  .art2__imge {
    width: 50%;
    order: 1;
    gap: 0.5rem;
  }
}
.art2__imge img {
  max-height: 200px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .art2__imge img {
    max-height: 300px;
  }
}
@media (min-width: 768px) {
  .art2__parr {
    width: 50%;
    font-size: large;
  }
}
.art2__parr a {
  margin-top: 0.7rem;
}

@media (min-width: 1200px) {
  main p {
    font-size: x-large;
  }
}
.strings {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .strings {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .strings {
    gap: 1rem;
  }
}

article {
  padding: 1rem;
}

.detail {
  color: #000;
  max-width: 764px;
}
.detail img {
  width: 38rem;
}
.detail h3 {
  padding-top: 1rem;
}
.detail p {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
  height: 28rem;
  overflow: scroll;
}
@media (min-width: 1200px) {
  .detail p {
    font-size: 1.6rem;
    height: 36rem;
  }
}
@media (min-width: 1200px) {
  .detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
  }
}

.galeria {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.galeria__1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  .galeria__1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.galeria__1 img {
  max-height: 600px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .galeria__1 img {
    max-height: 450px;
  }
}
@media (min-width: 1200px) {
  .galeria__1 img {
    height: 400px;
    width: 25%;
  }
}
@media (min-width: 768px) {
  .galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .galeria {
    flex-direction: column;
  }
}

.title-order {
  padding: 1rem;
  background-image: url(../img/bgorder.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.title-order p {
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.702);
}
.title-order p a {
  color: #ffd132;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .title-order p a:hover {
    text-shadow: 0px -3px 5px #ffd100;
    transition: 1s;
  }
}

.explanation {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.702);
}
.explanation h3 {
  text-shadow: 0px -3px 5px #ffd100;
}

.order__model {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}
@media (min-width: 768px) {
  .order__model {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
.order__model label {
  color: #ffd132;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 0px -3px 5px black;
}
.order__model select {
  width: 15rem;
  height: 2rem;
}
.order__color {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  background-color: rgba(0, 0, 0, 0.702);
}
.order__color__choose {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}
@media (min-width: 768px) {
  .order__color__choose {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}
.order__color__choose label {
  color: #ffd132;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 0px -3px 5px black;
}
.order__color__choose select {
  width: 15rem;
  height: 2rem;
}
.order__custom {
  padding: 1rem;
}
.order__custom h4 {
  color: #ffd132;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 0px -3px 5px black;
}
.order__custom h5 {
  color: #ffffff;
  font-size: x-large;
  font-weight: 700;
  padding-top: 0.5rem;
  text-shadow: 0px -1px 5px black, 0px -3px 5px #ffd100;
}
.order__custom label {
  width: 15rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .order__custom label {
    width: 23rem;
  }
}
@media (min-width: 1200px) {
  .order__custom__gral {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .order__custom__gral__1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .order__custom__gral__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .order__custom__gral__2 {
    flex-direction: column;
  }
}
.order__cond {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.702);
}
.order__cond h5 {
  color: #ffd132;
  font-size: x-large;
  font-weight: 700;
  text-shadow: 0px -3px 5px black;
}
.order__cond label {
  padding: 0.5rem;
  font-size: large;
  font-weight: 700;
  text-shadow: 0px -3px 5px black;
}
.order__end {
  padding: 1rem;
}
.order__end input {
  margin: 0.3rem;
}

.abou-h {
  padding-bottom: 1rem;
  box-shadow: 0px -20px 20px 20px black;
}
.abou-h__title-about {
  background-image: url(../img/aboutus/0.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0.5rem;
}
.abou-h h3 {
  margin-top: 1rem;
  font-size: x-large;
}
.abou-h__history {
  padding: 0.8rem;
}
.abou-h__history__1 img {
  height: 12rem;
}
@media (min-width: 1200px) {
  .abou-h__history__1 img {
    height: 20rem;
  }
}
.abou-h__history__2 img {
  height: 12rem;
}
@media (min-width: 1200px) {
  .abou-h__history__2 img {
    height: 20rem;
  }
}
@media (min-width: 768px) {
  .abou-h__history {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 0.7rem;
  }
  .abou-h__history__1 {
    width: 50%;
  }
  .abou-h__history__2 {
    width: 50%;
  }
}

.process {
  padding: 0.7rem;
  box-shadow: 0px -20px 20px 20px black;
}
.process__title {
  background-image: url(../img/aboutus/3.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0.5rem;
}
.process img {
  width: 22rem;
  padding-top: 0.5rem;
}
.process__cont a {
  color: #ffd132;
  font-weight: 700;
}
.process__cont a:hover {
  text-shadow: 0px 10px 5px black;
  transition: 1s;
}
@media (min-width: 768px) {
  .process__cont {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
  }
  .process__cont__1 {
    width: 33%;
    padding: 1rem;
  }
}

.about-end {
  padding-bottom: 3rem;
}
.about-end__videotour iframe {
  width: 320px;
}
@media (min-width: 768px) {
  .about-end__videotour iframe {
    padding: 1rem;
    width: 380px;
    height: 700px;
  }
}
.about-end__customer__carr {
  width: 320px;
  margin: auto;
}
@media (min-width: 768px) {
  .about-end__customer__carr {
    padding: 1rem;
    overflow: hidden;
    width: 380px;
  }
}
.about-end__customer__carr img {
  object-fit: cover;
  height: 400px;
}
@media (min-width: 768px) {
  .about-end__customer__carr img {
    height: 670px;
  }
}
@media (min-width: 768px) {
  .about-end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.contact {
  background-image: url(../img/contactus2.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.contact h2 {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.contact__imge {
  width: 90%;
  height: 13rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .contact__imge {
    height: 20rem;
  }
}
@media (min-width: 1200px) {
  .contact__imge {
    height: 25rem;
  }
}
.contact__imge img {
  object-fit: cover;
  max-height: 525px;
  max-width: 550px;
}
@media (min-width: 768px) {
  .contact__imge img {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .contact__imge img {
    max-width: 1300px;
  }
}

.otherinfo {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2392156863);
}
@media (min-width: 768px) {
  .otherinfo {
    font-size: large;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .otherinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
  }
}

.quick-cont {
  padding: 1rem;
  padding-bottom: 4rem;
}
.quick-cont__imge {
  height: 4rem;
  overflow: hidden;
}
.quick-cont img {
  height: 4rem;
  object-fit: cover;
  position: relative;
}
@media (min-width: 768px) {
  .quick-cont p {
    font-size: large;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .quick-cont__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .quick-cont__info p {
    font-size: x-large;
    font-weight: 700;
  }
}

.contenido {
  padding: 1rem;
  padding-bottom: 3rem;
  font-size: medium;
}
@media (min-width: 768px) {
  .contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.contenido__map {
  display: none;
}
@media (min-width: 768px) {
  .contenido__map {
    display: inline-block;
  }
}
.contenido__form {
  width: 300px;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  background-color: #a2a1a1;
}
.contenido__form label {
  width: 4.5rem;
  font-weight: 400;
  display: inline-block;
  color: #000;
}
.contenido__form input[type=text],
.contenido__form input[type=email] {
  width: 11.2rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
.contenido__form input[type=submit],
.contenido__form [type=reset] {
  width: fit-content;
  padding: 0.7rem 1.1rem;
  margin-top: 2.6rem;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #ffffff;
  background-color: #000000;
}
.contenido__form__form-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.contenido__form__news label {
  width: 90%;
}
.contenido__form__form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 0.7rem 0;
  display: block;
}

/*# sourceMappingURL=styles.css.map */
