.carousel-item img {
    height: 20rem;

    @include desktop {
        height: 25rem;
    }
}

// main section{
//     box-shadow: (0px -20px 20px 20px black );
// }

.art1 {
    padding: 1rem;
    @include flex (column, center, center);
    gap: 1rem;

    @include tablet {
        flex-direction: row;
    }

    &__imge {
        @include flex (row, center, center);
        width: 100%;
        gap: 0.1rem;

        @include tablet {
            flex-direction: column;
            width: 50%;
            overflow: hidden;
            gap: .5rem;
        }

        @include desktop {
            flex-direction: row;
            gap: 1rem;
        }

        & img {
            overflow: hidden;
            max-height: 13rem;
            object-fit: cover;

            @include tablet {
                width: 400px;
            }

            @include desktop {
                height: 400px;
                max-height: 400px;
            }
        }
    }



    &__parr {
        @include tablet {
            width: 50%;
            font-size: large;
        }

        & a {
            margin-top: .7rem
        }

        ;
    }
}

.art2 {
    padding: 1rem;
    @include flex (column, center, center);
    gap: 1rem;

    @include tablet {
        flex-direction: row;
    }

    &__imge {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: stretch;
        align-items: stretch;
        gap: 0.1rem;

        @include tablet {
            width: 50%;
            order: 1;
            gap: .5rem;
        }

        & img {
            max-height: 200px;
            object-fit: cover;

            @include desktop {
                max-height: 300px;
            }
        }
    }

    &__parr {
        @include tablet {
            width: 50%;
            font-size: large;
        }

        & a {
            margin-top: .7rem
        }

        ;
    }
}

@include desktop {
    main p {
        font-size: x-large;
    }
}