.strings {
    margin-bottom: 1rem;
    padding: 1rem;

    @include flex (column, space-between, center);
    gap: .5rem;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        gap: 1rem;
    }
}